﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="col-lg-6 col-lg-offset-3">
        <ul id="messages">
            
        </ul>
    </div>
</div>

<script type="text/javascript">
    var monitor;

    $(function() {
        monitor = $.connection.monitor;

        monitor.client.newEvent = onNewEvent;

        $.connection.hub.start();
    });

    function onNewEvent(eventType, client) {
        $('#messages').append('<li>' + eventType + ' from ' + client + "</li>" );
    }


</script>

