﻿
@{
    ViewBag.Title = "Index";
}

<h2>Chat</h2>

<div class="container">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">imie i nazwisko - zdjecie</div>
            <div class="panel-body">
                Wiadomosci z chatu
            </div>
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Wiadomosc</span>
                <input type="text" class="form-control" placeholder="Message" aria-describedby="basic-addon1">
                <button type="button" class="btn btn-default">Send</button>
            </div>
            
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Lista uzytkownikow</div>
            <div class="panel-body">
                Dodac liste
            </div>
            <div class="panel-footer">Szukajke turtaj doac</div>
        </div>
    </div>
</div>

