﻿
@model SaySolve.Chat.Client.WebApp.Models.Login
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div class="container">
    <div class="col-lg-offset-3 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">Logowanie</div>
            <div class="panel-body">

            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Username</span>
                    <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon1">
                </div>

                <div class="panel  panel-default">
                    <button type="submit" class="btn btn-default" onclick="connect()">Submit</button>
                </div>

            }

            </div>
            <div class="panel-footer">SaySolve chat</div>
        </div>
    </div>
</div>

