﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    DOdac signalR z Default bo nie bedzie dzialac
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="http://localhost:9997/signalr/hubs"></script>

<script type="text/javascript">
    var chat;

    $(function () {
        
        $.connection.hub.url = "http://localhost:9997/signalr";
        $.connection.hub.logging = true; // wlacza logowanie po stronie przegladarki

        chat = $.connection.chatHub;
        chat.client.connect = onConnect();

        $('#nazwaButtona').click(onNazwaMetody);

        //aby wyslac obiekt trzeba go sparsowac
        //$.toJSON()
        // w druga strone jest latwoej poniewaz kazdy obiekt jest autopmatycznie deserializowany do objektu js

        $.connection.hub.start(); // mozna tutaj dodac {transport: 'longPooling'} jako sposob transportu
    });


    function onConnect() {
         throw new Error("Not implemented");
    };
   

</script>

</body>
</html>